.navigationbar{
    /* display:block; */
        width:100%;
        /* padding:5px; */
        box-shadow: 0 0 1px 1px #f2f2f2;
        min-height:1px;
        /* height:auto; */
overflow:auto;
    
        
        
    
    }
    
    .navmainitem{
        display:inline;
        padding:5px;
        margin:5px;
        text-align: center;
        font-weight:bolder;
        text-align: left;
        font-size:120%;

        /* background: rosybrown; */
        float:right;
        cursor: pointer;
    }
    
    .navitems{
        /* display:inline; */
        padding:5px;
        margin:5px;
        text-align: center;
        font-size:120%;
        font-weight: bold;
        color:black;
        /* background: rosybrown; */
        float:right;
        cursor: pointer;
        
    }

    a{
        text-decoration: none;
        color:000;
    }

    .navitems:hover{
       background: lightgray;
    }

    .navitems:hover .dropdown_content{
        display:block;
     }

    .dropdown_content{
        display: none;

    }
    
    .navbutton{
        display:none;
        
        
    
    }
    
    
    @media all and (min-width: 20cm) {
      
        .navitems{
            /* display:inline; */
            float: right;
        }
    }
    
    @media all and (max-width: 20cm) {
        /* .navigationbar{
    
        } */
    
        .navitems{
            display:none;
            float: none;
        }
    
        .navbutton{
            display:block;
            /* padding:10px; */
        background: white;
        float:right;
        /* box-shadow: 0 0 1px 1px gray; */
        }
    
        .navmainitem{
            display:block;
            float: none;
            /* padding:10px; */
        }
    
    
      }
    