.PopupPageBackground{
    position: absolute;
    top:0;
left:0;
width:100%;
height:100%;
background: rgba(87, 85, 85, 0.5);
z-index:1;
}

.PopupPageWrapper{
    padding-left:5px;
    padding-right:5px;
    z-index:2;

position: fixed;
top:2%;
left:2%;
width:96%;
height:96%;
display:flex;
flex-direction: column;
background: white;
box-shadow: 0px 0px 1px 1px lightgray;
overflow: auto;
}

.PopupPageNavigation{
    display:flex;
    flex-direction: row-reverse;

}

.PopupPageexit{
    margin:10px;
    cursor: pointer;

}

.PopupPageContentWrapper{

    
}

.productNameInDetails{
font-weight:bold ;
}

.productImagesInDetails{
    position: relative;
margin:2%;
margin-bottom: 2px;
width:94%;
height:100%;
/* max-width:7cm; */
max-height:10cm;
overflow: auto;

}

.productDescriptionInDetails{
    white-space: pre;
   
}
.detailsWrapper{
    overflow:auto;
    padding:10px;
}