
.productswrapper{
    
    font-family: Tahoma, Arial, sans-serif;
    width:100%;
    height:auto;
    /* min-height:260%; */
    margin:0%;
    padding-top:20px;
    padding-bottom:20px;
    color:black;


    display: flex;
    align-items: center;
    flex-flow: row wrap;
}



.product{
 
   position:relative;
   max-width:80%;
   overflow: auto;
   padding:1px;
margin:auto;
margin-top:10px;
box-shadow: 0 0 1px 1px #f2f2f2;
    /* background:blue; */

    display: flex;
    flex-flow: row wrap;
    position:relative;
}

.ProductImageArea{
    position:relative;
    width:50%;
    min-height:7cm;
    min-width:5cm;
    max-width:7cm;
    margin:auto;
    /* background:red; */

}

#productimage{

    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    
}

#descriptiondata{
    min-width:5cm;
    width:50%;
    margin:auto;
    margin-top:1px;
    max-width:6cm;
    

}

.MoreInfo{
    position:absolute;
    right:2%;
    bottom:2%;
}

.ProductName{
    width:100%;
    font-weight:bold;
    margin:auto;
    /* background:cyan; */

}

.ProductDetails{
    width:100%;
    margin:auto;
    /* background:salmon; */

}

.numberofunits{

}

.AddToCart{

}

.subtotal{

    
}

